body{
  	background-image: url('../../includes/img/bg.png');
  	background-repeat: no-repeat;
  	background-size: 100% 980px;
  	
  	
}
.login-container{

	background-color: rgba(0,0,0,0.7);
	margin-left: 1200px;
	margin-top: 50px;
	width:450px;
	height: 420px; 
	text-align: center;
	border-radius: 15px;
}

.login-container input[type="username"], Input[type="password"]{
	height:40px;
 	width:250px;
 	font-size: 18px;
 	margin-bottom: 20px;
 	padding-left: 25px;
 	border:none;
 	border-radius: 5px;

}
.login-button{
	padding: 15px 25px;
	border: none;
	background-color:#7383bf;
	font-size: 18px;
	color: #fbd490;
	margin-bottom: 10px;
	border-radius: 10px;
	border-bottom-color: 4px solid #556080;
}
.login-button:hover{
	background-color:#fbd490;
	color: #7383bf;
}
.login-username{
	margin-top: 25px;
}
.login-container a{
	margin-top: 40px;
	text-decoration: none;
	color: #fbd490;
}
.login-social-fb{
	width:250px;
}
.login-social-google{
	width:250px;
}
.circleOr
    {
    width:30px;
    height:30px;
    margin-left: 210px;
    margin-top: -24px;
    border-radius:250px;
    font-size:20px;
    line-height:1.35;
    color:#fbd490;
    text-align:center;
    background:#000
    }